.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 150px;
}

.menu .menu__logo {
  color: #f8f8f2;

  font-weight: bold;
  font-size: 2em;

  text-transform: capitalize;
}

.green {
  color: #50fa7b;
}

/* Content */
.content {
  display: flex;
  align-items: center;
  
  flex-direction: column;
}

/* form */
.form, .results__content {
  max-width: 100%;
  width: 100%;
  
  background-color: #44475a;
  color: #f8f8f2;

  border-radius: 3.5px;
  padding: 8px 16px;

  margin: 8px auto;
}

.form .form__group {
  display: flex;
  align-items: center;
}

.form__item {
  margin: 16px auto;
}

.form .form__item label {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5;

  text-transform: uppercase;
}

.form .form__item .input{
  width: 100%;
  height: 45px;

  padding: 8px 15px;
  
  flex: 3 1 auto;

  border-right: 2.5px solid #50fa7b;
  background: #1A1A1A;
  color: white;

  /* border: 1px solid transparent; */
  border-radius: 5px;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  
  outline: none;
  transition: border-color 0.2s ease-in;
}
.form .form__item .input:focus {
  border-color: #ff79c6;
}

.input + .button {
  margin-left: 8px;
}

/* result */
.results__container {
  margin-top: 50px;
  font-size: 1.2em;
  transition: all 700ms ease forwards;
}

.results__container .results__header {
  display: flex;
  align-items: center;
}

.results__header .title {
  flex: 1 0 auto;
}


.results__content {
  opacity: 0;
}
 
.results__content.js-ativo {
  opacity: 1;
}
