/* button */
.button {
  max-width: 100%;
  width: 100%;

  display: block;
  font-weight: bold;
  font-size: 1em;
  
  background: linear-gradient(to right,#ffb86c, #ff5555);
  color: #282a36;
  
  cursor: pointer;
  
  padding: 8px 16px;
  margin: 20px 0;
  
  border: 1px solid transparent;
  border-radius: 3.5px;
  outline: 0;

  transition: all 500ms linear;
}

.button:hover , .button:focus {
  border-color: #50fa7b;
}